@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);












body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Libre Franklin', serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  font-family: 'Libre Franklin', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn:not(.btn-social) {
  border-radius: 30px;
  padding: 17px 50px;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Libre Franklin', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #dc4e24 !important;
}
.bg-success {
  background-color: #1e7c3a !important;
}
.bg-info {
  background-color: #1556b9 !important;
}
.bg-warning {
  background-color: #ffd785 !important;
}
.bg-danger {
  background-color: #ff9685 !important;
}
.btn-primary {
  background-color: #dc4e24;
  border-color: #dc4e24;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #9b3619;
  border-color: #9b3619;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9b3619 !important;
  border-color: #9b3619 !important;
}
.btn-secondary {
  background-color: #39937c;
  border-color: #39937c;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #245c4e;
  border-color: #245c4e;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #245c4e !important;
  border-color: #245c4e !important;
}
.btn-info {
  background-color: #1556b9;
  border-color: #1556b9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #0d3674;
  border-color: #0d3674;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0d3674 !important;
  border-color: #0d3674 !important;
}
.btn-success {
  background-color: #1e7c3a;
  border-color: #1e7c3a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0f3e1d;
  border-color: #0f3e1d;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0f3e1d !important;
  border-color: #0f3e1d !important;
}
.btn-warning {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-danger {
  background-color: #ff9685;
  border-color: #ff9685;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff5438;
  border-color: #ff5438;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5438 !important;
  border-color: #ff5438 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #852f15;
  color: #852f15;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #dc4e24;
  border-color: #dc4e24;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #dc4e24 !important;
  border-color: #dc4e24 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #1c493e;
  color: #1c493e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #39937c;
  border-color: #39937c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #39937c !important;
  border-color: #39937c !important;
}
.btn-info-outline {
  background: none;
  border-color: #0b2b5d;
  color: #0b2b5d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #1556b9;
  border-color: #1556b9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #1556b9 !important;
  border-color: #1556b9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #0a2a14;
  color: #0a2a14;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1e7c3a;
  border-color: #1e7c3a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1e7c3a !important;
  border-color: #1e7c3a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ff3e1f;
  color: #ff3e1f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff9685;
  border-color: #ff9685;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9685 !important;
  border-color: #ff9685 !important;
}
.text-primary {
  color: #dc4e24 !important;
}
.text-success {
  color: #1e7c3a !important;
}
.text-info {
  color: #1556b9 !important;
}
.text-warning {
  color: #ffd785 !important;
}
.text-danger {
  color: #ff9685 !important;
}
.alert-success {
  background-color: #1e7c3a;
}
.alert-info {
  background-color: #1556b9;
}
.alert-warning {
  background-color: #ffd785;
}
.alert-danger {
  background-color: #ff9685;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #dc4e24;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #dc4e24;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #dc4e24;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #dc4e24;
}
.lead a,
.lead a:hover {
  color: #dc4e24;
}
.lead blockquote {
  border-color: #dc4e24;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f8dcd4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #47d271;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #6098ed;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
/* DirectM */
a {
  color: #1556b9;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #dc4e24;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #dc4e24;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #dc4e24;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Oxygen', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #dc4e24;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #be431e, #dc4e24, #e37250);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #dc4e24 !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #dc4e24;
}
.tabs1 .colorBG {
  background-color: #dc4e24;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #dc4e24;
}
.content4 p {
  border-bottom: 3px solid #dc4e24;
  border-top: 3px solid #dc4e24;
}
/*follow1*/
.follow1 .btn-social {
  color: #dc4e24;
  border-color: #dc4e24;
}
.follow1 .btn-social:hover {
  color: #e37250;
  background: rgba(220, 78, 36, 0.1);
  border-color: #e37250;
}
/*share1*/
.share1 .btn-social {
  color: #dc4e24;
  border-color: #dc4e24;
}
.share1 .btn-social:hover {
  color: #e37250;
  background: rgba(220, 78, 36, 0.1);
  border-color: #e37250;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #dc4e24;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Libre Franklin', serif;
}
.mbr-gallery-filter li {
  color: #1556b9;
}
.btn-empty:focus {
  color: #dc4e24;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #1556b9;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #dc4e24;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #dc4e24;
}
.hamburger-icon {
  background-color: #dc4e24 !important;
}
.hamburger-icon:before {
  background-color: #dc4e24;
}
.hamburger-icon:after {
  background-color: #dc4e24;
}
#menu2-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-1 .navbar-toggler {
  color: #fdfafa;
}
#menu2-1 .close-icon::before,
#menu2-1 .close-icon::after {
  background-color: #fdfafa;
}
#menu2-1 .link,
#menu2-1 .dropdown-item {
  color: #fdfafa;
  font-family: 'Roboto Slab', serif;
}
#menu2-1 .link {
  font-size: 1.05rem;
}
#menu2-1 .dropdown-item,
#menu2-1 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu2-1 .link:hover,
#menu2-1 .link:focus {
  color: #dc4e24;
}
#menu2-1 .dropdown-item:hover::before,
#menu2-1 .dropdown-item:focus::before {
  background: #dc4e24;
}
#menu2-1 .dropdown-item:hover,
#menu2-1 .dropdown-item:focus {
  color: #fdfafa;
}
#menu2-1 .link[aria-expanded="true"],
#menu2-1 .dropdown-menu {
  background: #616161;
}
#menu2-1 .nav-dropdown-sm .link:focus,
#menu2-1 .nav-dropdown-sm .link:hover,
#menu2-1 .nav-dropdown-sm .dropdown-item:focus,
#menu2-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #595959!important;
}
#menu2-1 .navbar,
#menu2-1 .nav-dropdown-sm,
#menu2-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-1 .nav-dropdown-sm .dropdown-menu {
  background: #616161;
}
#menu2-1 .bg-color.transparent .link {
  color: #fdfafa;
  transition: none;
}
#menu2-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-1 .bg-color.transparent.opened .link:hover,
#menu2-1 .bg-color.transparent.opened .link:focus {
  color: #dc4e24;
}
#menu2-1 .link[aria-expanded="true"],
#menu2-1 .dropdown-item[aria-expanded="true"] {
  color: #dc4e24!important;
}
#header4-0 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-0 .mbr-table-cell {
  vertical-align: middle;
}
#header4-0 .heading-title {
  color: #00040a;
  text-align: center;
  font-size: 60px;
  font-family: 'Droid Serif', serif;
}
#header4-0 .heading-title I {
  font-size: 46px;
  color: #e96127;
}
#header4-0 .heading-title SPAN {
  font-size: 36px;
  color: #0c49e1;
}
#header4-0 .heading-text {
  font-size: 30px;
  color: #fffcf6;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#header4-0 .heading-title B {
  font-size: 48px;
  color: #e96127;
}
#header4-0 .heading-text B {
  font-size: 25px;
  color: #fffffd;
  font-family: 'Montserrat', sans-serif;
}
#header4-0 .heading-text SPAN {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#content7-33 .mbr-section-title,
#content7-33 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-33 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content7-33 .mbr-table-cell {
  vertical-align: middle;
}
#content7-33 .heading-title {
  color: #000000;
}
#content7-33 .heading-text {
  color: #000000;
}
#content7-33 .heading-text B {
  font-size: 20px;
}
#header4-8 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header4-8 .mbr-table-cell {
  vertical-align: middle;
}
#header4-8 .heading-title {
  color: #e91a1a;
  font-size: 100px;
}
#header4-8 .heading-text {
  color: #e91a1a;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
}
#content3-2z .mbr-section-title,
#content3-2z .mbr-section-subtitle {
  text-align: center;
}
#content3-2z H1 {
  font-size: 30px;
}
#content3-2z P {
  font-size: 20px;
  text-align: right;
  color: #1f8068;
}
#content3-2z B {
  color: #30a2d2;
}
#msg-box5-2d .mbr-section-title {
  color: #fff;
  line-height: 1;
}
#msg-box5-2d .round-text {
  color: #fff;
  text-align: left;
}
#msg-box5-2d H1 {
  font-size: 46px;
  color: #000000;
}
#msg-box5-2d .round-text B {
  color: #fffffd;
  font-size: 18px;
}
#msg-box5-2d B {
  font-size: 25px;
}
#content5-7 .mbr-section-title,
#content5-7 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-7 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-7 .mbr-table-cell {
  vertical-align: middle;
}
#content5-7 .heading-text {
  font-size: 25px;
}
#content5-7 .heading-title {
  font-size: 60px;
}
#content5-7 .btn {
  font-size: 30px;
}
#buttons1-v .btn {
  font-size: 17px;
}
#tabs3-3 .btn {
  font-size: 22px;
}
#tabs3-3 B {
  font-size: 36px;
}
#tabs3-3 P {
  font-size: 18px;
}
#header7-35 .btn {
  font-size: 22px;
}
#header7-35 P {
  font-size: 22px;
  text-align: left;
}
#header7-35 H3 {
  color: #fffffd;
  text-align: center;
}
#features2-5 .mbr-iconfont {
  color: #1321ed;
  border-color: #1321ed;
}
#features2-5 .card-title {
  text-align: center;
  font-size: 18px;
  color: #0c49e1;
}
#features2-5 .card-text {
  font-size: 14px;
}
#features2-5 .heading-title {
  color: #0717a4;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
#features2-5 .heading-text {
  color: #0717a4;
  font-size: 25px;
  font-family: 'Lora', serif;
}
#content8-4 P {
  text-align: left;
  font-size: 20px;
  color: #fffffd;
}
#content8-4 H3 {
  font-size: 48px;
  text-align: left;
  color: #ffffff;
  font-family: 'Libre Franklin', serif;
}
#content3-1g .mbr-section-title,
#content3-1g .mbr-section-subtitle {
  text-align: center;
}
#content3-1g H1 {
  font-size: 48px;
}
#content3-1g P {
  color: #1415d6;
}
#msg-box5-3c .mbr-section-title {
  color: #fff;
  line-height: 1;
}
#msg-box5-3c .round-text {
  color: #fff;
}
#content3-s .mbr-section-title,
#content3-s .mbr-section-subtitle {
  text-align: center;
}
#content3-s H1 {
  font-size: 36px;
  color: #000000;
}
#content3-s P {
  color: #2b0fed;
}
#content3-s B {
  color: #02050e;
  font-size: 46px;
}
#slider2-1h .mbr-section-title,
#slider2-1h .mbr-section-text {
  color: #fff;
}
#content5-6 .mbr-section-title,
#content5-6 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-6 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-6 .mbr-table-cell {
  vertical-align: middle;
}
#content5-6 .heading-title {
  font-size: 60px;
  color: #000000;
}
#content5-6 .heading-text {
  font-size: 20px;
  color: #000000;
}
#content5-6 .btn {
  font-size: 22px;
}
#content5-6 .heading-text B {
  font-size: 21px;
  color: #000000;
}
#content5-6 .heading-title B {
  font-size: 48px;
  color: #000000;
}
#share1-w .mbr-section-title {
  font-size: 30px;
  text-align: center;
  color: #fffffd;
}
#footer4-2b p {
  color: #000;
}

#menu2-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-9 .navbar-toggler {
  color: #fdfafa;
}
#menu2-9 .close-icon::before,
#menu2-9 .close-icon::after {
  background-color: #fdfafa;
}
#menu2-9 .link,
#menu2-9 .dropdown-item {
  color: #fdfafa;
  font-family: 'Roboto Slab', serif;
}
#menu2-9 .link {
  font-size: 1.05rem;
}
#menu2-9 .dropdown-item,
#menu2-9 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu2-9 .link:hover,
#menu2-9 .link:focus {
  color: #dc4e24;
}
#menu2-9 .dropdown-item:hover::before,
#menu2-9 .dropdown-item:focus::before {
  background: #dc4e24;
}
#menu2-9 .dropdown-item:hover,
#menu2-9 .dropdown-item:focus {
  color: #fdfafa;
}
#menu2-9 .link[aria-expanded="true"],
#menu2-9 .dropdown-menu {
  background: #616161;
}
#menu2-9 .nav-dropdown-sm .link:focus,
#menu2-9 .nav-dropdown-sm .link:hover,
#menu2-9 .nav-dropdown-sm .dropdown-item:focus,
#menu2-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #595959!important;
}
#menu2-9 .navbar,
#menu2-9 .nav-dropdown-sm,
#menu2-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-9 .nav-dropdown-sm .dropdown-menu {
  background: #616161;
}
#menu2-9 .bg-color.transparent .link {
  color: #fdfafa;
  transition: none;
}
#menu2-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-9 .bg-color.transparent.opened .link:hover,
#menu2-9 .bg-color.transparent.opened .link:focus {
  color: #dc4e24;
}
#menu2-9 .link[aria-expanded="true"],
#menu2-9 .dropdown-item[aria-expanded="true"] {
  color: #dc4e24!important;
}
#content5-1k .mbr-section-title,
#content5-1k .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-1k .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-1k .mbr-table-cell {
  vertical-align: middle;
}
#content5-1k .heading-title {
  font-size: 60px;
  color: #fffffd;
}
#content5-1k .heading-text {
  color: #fffffd;
  font-size: 20px;
}
#features12-1m .mbr-iconfont {
  color: #dc4e24;
  border-color: #dc4e24;
}
#features12-1m .card-title {
  color: #14171d;
}
#features12-1m .card-text {
  color: #000000;
}
#features12-1m P {
  color: #14171d;
}
#content5-21 .mbr-section-title,
#content5-21 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-21 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-21 .mbr-table-cell {
  vertical-align: middle;
}
#content5-21 .heading-text {
  font-size: 22px;
  color: #000000;
}
#content5-21 .heading-title {
  font-size: 60px;
}
#content5-21 .btn {
  font-size: 22px;
}
#content5-21 .heading-title B {
  color: #000000;
}
#content5-m .mbr-section-title,
#content5-m .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-m .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-m .mbr-table-cell {
  vertical-align: middle;
}
#content5-m .heading-text {
  font-size: 20px;
  text-align: center;
}
#content5-m .heading-title {
  font-size: 60px;
}
#content5-m .btn {
  font-size: 46px;
}
#content5-m .heading-title B {
  font-size: 48px;
}
#content5-m .heading-text B {
  font-size: 25px;
}
#buttons1-24 .btn {
  font-size: 17px;
}
#tabs3-22 .btn {
  font-size: 22px;
}
#tabs3-22 P {
  font-size: 20px;
  color: #fffffd;
}
#tabs3-22 B {
  color: #fffffd;
  font-size: 22px;
}
#content5-l .mbr-section-title,
#content5-l .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-l .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-l .mbr-table-cell {
  vertical-align: middle;
}
#content5-l .heading-title {
  font-size: 46px;
  color: #fffffd;
}
#content5-l .heading-text {
  font-size: 24px;
  color: #fffffd;
}
#msg-box3-g H1 {
  color: #ffffff;
  font-size: 25px;
  text-align: left;
}
#msg-box3-g P {
  color: #ffffff;
}
#msg-box3-g .round-text {
  text-align: left;
  color: #000000;
  font-size: 20px;
}
#msg-box3-g B {
  color: #000000;
}
#slider2-z .mbr-section-title,
#slider2-z .mbr-section-text {
  color: #fff;
}
#slider2-z .mbr-section-title {
  color: #fdde19;
}
#content5-i .mbr-section-title,
#content5-i .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-i .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-i .mbr-table-cell {
  vertical-align: middle;
}
#content5-i .heading-title {
  font-size: 46px;
  color: #fffffd;
}
#content5-i .heading-text {
  font-size: 20px;
  color: #fffffd;
}
#content5-j .mbr-section-title,
#content5-j .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-j .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-j .mbr-table-cell {
  vertical-align: middle;
}
#content5-j .heading-title {
  color: #000000;
  font-size: 46px;
}
#content5-j .heading-text {
  font-size: 20px;
  color: #000000;
}
#content5-j .heading-title B {
  color: #fffffd;
}
#content5-j .heading-text B {
  color: #fffffd;
}
#features7-n .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#features7-n .heading-title {
  font-size: 46px;
  text-align: left;
}
#features7-n .card-text {
  font-size: 14px;
}
#features7-n .heading-title B {
  font-size: 46px;
  color: #000000;
}
#features7-n .btn {
  font-size: 22px;
}
#content5-1t .mbr-section-title,
#content5-1t .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-1t .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#content5-1t .mbr-table-cell {
  vertical-align: middle;
}
#content5-1t .heading-title {
  font-size: 60px;
  color: #000000;
}
#content5-1t .heading-text {
  font-size: 20px;
  color: #000000;
}
#content5-1t .btn {
  font-size: 22px;
}
#content5-1t .heading-text B {
  font-size: 21px;
  color: #000000;
}
#content5-1t .heading-title B {
  font-size: 48px;
  color: #000000;
}
#form1-2a .form {
  background: #cfcccc;
}
#form1-2a .form-title {
  font-size: 18px;
}
#form1-2a .heading-text B {
  font-size: 24px;
  color: #fffffd;
}
#form1-2a .btn {
  font-size: 20px;
}
#form1-2a .heading-title B {
  color: #fffffd;
}
#form1-2a .heading-title {
  color: #fffffd;
}




#menu2-a .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-a .navbar-toggler {
  color: #fdfafa;
}
#menu2-a .close-icon::before,
#menu2-a .close-icon::after {
  background-color: #fdfafa;
}
#menu2-a .link,
#menu2-a .dropdown-item {
  color: #fdfafa;
  font-family: 'Roboto Slab', serif;
}
#menu2-a .link {
  font-size: 1.05rem;
}
#menu2-a .dropdown-item,
#menu2-a .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu2-a .link:hover,
#menu2-a .link:focus {
  color: #dc4e24;
}
#menu2-a .dropdown-item:hover::before,
#menu2-a .dropdown-item:focus::before {
  background: #dc4e24;
}
#menu2-a .dropdown-item:hover,
#menu2-a .dropdown-item:focus {
  color: #fdfafa;
}
#menu2-a .link[aria-expanded="true"],
#menu2-a .dropdown-menu {
  background: #616161;
}
#menu2-a .nav-dropdown-sm .link:focus,
#menu2-a .nav-dropdown-sm .link:hover,
#menu2-a .nav-dropdown-sm .dropdown-item:focus,
#menu2-a .nav-dropdown-sm .dropdown-item:hover {
  background: #595959!important;
}
#menu2-a .navbar,
#menu2-a .nav-dropdown-sm,
#menu2-a .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-a .nav-dropdown-sm .dropdown-menu {
  background: #616161;
}
#menu2-a .bg-color.transparent .link {
  color: #fdfafa;
  transition: none;
}
#menu2-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-a .bg-color.transparent.opened .link:hover,
#menu2-a .bg-color.transparent.opened .link:focus {
  color: #dc4e24;
}
#menu2-a .link[aria-expanded="true"],
#menu2-a .dropdown-item[aria-expanded="true"] {
  color: #dc4e24!important;
}
#content5-15 .mbr-section-title,
#content5-15 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-15 .mbr-table-cell {
  vertical-align: middle;
}
#content5-15 .heading-text {
  font-size: 18px;
}
#content5-15 .heading-title {
  font-size: 60px;
  color: #fffffd;
}
#form3-10 .card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#form3-10 .card-img a {
  color: #616161;
  border-color: #616161;
  border-width: 2px;
  line-height: 72px;
}
#form3-10 .heading {
  background: #0e5087;
}
#form3-10 .heading-title B {
  font-size: 32px;
}
#form3-10 .heading-title {
  text-align: center;
}
#form3-10 .heading-text {
  text-align: center;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
#form3-10 .heading-text SPAN {
  font-family: 'Montserrat', sans-serif;
}
#form3-10 .form-title {
  text-align: center;
  font-size: 25px;
  color: #f1e317;
}
#form3-10 .form-title SPAN {
  font-size: 25px;
  color: #fffffd;
  font-family: 'Montserrat', sans-serif;
}

#menu2-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-b .navbar-toggler {
  color: #fdfafa;
}
#menu2-b .close-icon::before,
#menu2-b .close-icon::after {
  background-color: #fdfafa;
}
#menu2-b .link,
#menu2-b .dropdown-item {
  color: #fdfafa;
  font-family: 'Roboto Slab', serif;
}
#menu2-b .link {
  font-size: 1.05rem;
}
#menu2-b .dropdown-item,
#menu2-b .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu2-b .link:hover,
#menu2-b .link:focus {
  color: #dc4e24;
}
#menu2-b .dropdown-item:hover::before,
#menu2-b .dropdown-item:focus::before {
  background: #dc4e24;
}
#menu2-b .dropdown-item:hover,
#menu2-b .dropdown-item:focus {
  color: #fdfafa;
}
#menu2-b .link[aria-expanded="true"],
#menu2-b .dropdown-menu {
  background: #616161;
}
#menu2-b .nav-dropdown-sm .link:focus,
#menu2-b .nav-dropdown-sm .link:hover,
#menu2-b .nav-dropdown-sm .dropdown-item:focus,
#menu2-b .nav-dropdown-sm .dropdown-item:hover {
  background: #595959!important;
}
#menu2-b .navbar,
#menu2-b .nav-dropdown-sm,
#menu2-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-b .nav-dropdown-sm .dropdown-menu {
  background: #616161;
}
#menu2-b .bg-color.transparent .link {
  color: #fdfafa;
  transition: none;
}
#menu2-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-b .bg-color.transparent.opened .link:hover,
#menu2-b .bg-color.transparent.opened .link:focus {
  color: #dc4e24;
}
#menu2-b .link[aria-expanded="true"],
#menu2-b .dropdown-item[aria-expanded="true"] {
  color: #dc4e24!important;
}
#content5-14 .mbr-section-title,
#content5-14 .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-14 .mbr-table-cell {
  vertical-align: middle;
}
#content5-14 .heading-text {
  font-size: 18px;
}
#content5-14 .heading-title {
  font-size: 60px;
  color: #fffffd;
}
#form3-13 .card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#form3-13 .card-img a {
  color: #616161;
  border-color: #616161;
  border-width: 2px;
  line-height: 72px;
}
#form3-13 .heading {
  background: #2889d2;
}
#form3-13 .heading-text {
  text-align: left;
  font-size: 21px;
}
#form3-13 .heading-title {
  font-size: 25px;
}

#menu2-17 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-17 .navbar-toggler {
  color: #fdfafa;
}
#menu2-17 .close-icon::before,
#menu2-17 .close-icon::after {
  background-color: #fdfafa;
}
#menu2-17 .link,
#menu2-17 .dropdown-item {
  color: #fdfafa;
  font-family: 'Roboto Slab', serif;
}
#menu2-17 .link {
  font-size: 1.05rem;
}
#menu2-17 .dropdown-item,
#menu2-17 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu2-17 .link:hover,
#menu2-17 .link:focus {
  color: #dc4e24;
}
#menu2-17 .dropdown-item:hover::before,
#menu2-17 .dropdown-item:focus::before {
  background: #dc4e24;
}
#menu2-17 .dropdown-item:hover,
#menu2-17 .dropdown-item:focus {
  color: #fdfafa;
}
#menu2-17 .link[aria-expanded="true"],
#menu2-17 .dropdown-menu {
  background: #616161;
}
#menu2-17 .nav-dropdown-sm .link:focus,
#menu2-17 .nav-dropdown-sm .link:hover,
#menu2-17 .nav-dropdown-sm .dropdown-item:focus,
#menu2-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #595959!important;
}
#menu2-17 .navbar,
#menu2-17 .nav-dropdown-sm,
#menu2-17 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-17 .nav-dropdown-sm .dropdown-menu {
  background: #616161;
}
#menu2-17 .bg-color.transparent .link {
  color: #fdfafa;
  transition: none;
}
#menu2-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-17 .bg-color.transparent.opened .link:hover,
#menu2-17 .bg-color.transparent.opened .link:focus {
  color: #dc4e24;
}
#menu2-17 .link[aria-expanded="true"],
#menu2-17 .dropdown-item[aria-expanded="true"] {
  color: #dc4e24!important;
}
#content5-1b .mbr-section-title,
#content5-1b .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-1b .mbr-table-cell {
  vertical-align: middle;
}
#content5-1b .heading-text {
  font-size: 22px;
}
#content5-1b .heading-title {
  color: #1415d6;
}
#content7-1c .mbr-section-title,
#content7-1c .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-1c .mbr-table-cell {
  vertical-align: middle;
}
#content7-1c .heading-title {
  color: #fffffd;
}
#content8-39 P {
  font-size: 46px;
  text-align: center;
}
#msg-box5-2h .mbr-section-title {
  color: #fff;
  line-height: 1;
}
#msg-box5-2h .round-text {
  color: #fff;
}







#menu2-1w .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-1w .navbar-toggler {
  color: #fdfafa;
}
#menu2-1w .close-icon::before,
#menu2-1w .close-icon::after {
  background-color: #fdfafa;
}
#menu2-1w .link,
#menu2-1w .dropdown-item {
  color: #fdfafa;
  font-family: 'Roboto Slab', serif;
}
#menu2-1w .link {
  font-size: 1.05rem;
}
#menu2-1w .dropdown-item,
#menu2-1w .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu2-1w .link:hover,
#menu2-1w .link:focus {
  color: #dc4e24;
}
#menu2-1w .dropdown-item:hover::before,
#menu2-1w .dropdown-item:focus::before {
  background: #dc4e24;
}
#menu2-1w .dropdown-item:hover,
#menu2-1w .dropdown-item:focus {
  color: #fdfafa;
}
#menu2-1w .link[aria-expanded="true"],
#menu2-1w .dropdown-menu {
  background: #616161;
}
#menu2-1w .nav-dropdown-sm .link:focus,
#menu2-1w .nav-dropdown-sm .link:hover,
#menu2-1w .nav-dropdown-sm .dropdown-item:focus,
#menu2-1w .nav-dropdown-sm .dropdown-item:hover {
  background: #595959!important;
}
#menu2-1w .navbar,
#menu2-1w .nav-dropdown-sm,
#menu2-1w .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-1w .nav-dropdown-sm .dropdown-menu {
  background: #616161;
}
#menu2-1w .bg-color.transparent .link {
  color: #fdfafa;
  transition: none;
}
#menu2-1w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-1w .bg-color.transparent.opened .link:hover,
#menu2-1w .bg-color.transparent.opened .link:focus {
  color: #dc4e24;
}
#menu2-1w .link[aria-expanded="true"],
#menu2-1w .dropdown-item[aria-expanded="true"] {
  color: #dc4e24!important;
}
#content5-1x .mbr-section-title,
#content5-1x .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #ffffff;
}
#content5-1x .mbr-table-cell {
  vertical-align: middle;
}
#content5-1x .heading-text {
  text-align: left;
}
#content5-1x .heading-text B {
  color: #000000;
}
#features18-1y .card .mbr-iconfont {
  color: #fff;
  border-color: #fff;
}
#features18-1y .mbr-table-cell {
  vertical-align: middle;
}
#features18-1y .heading-title {
  font-size: 30px;
  color: #fffffd;
}
#features18-1y .heading-text {
  font-size: 19px;
  font-family: 'Lora', serif;
  color: #fffffd;
}
#features18-1y P {
  color: #fffffd;
  font-size: 30px;
}
#features18-1y .card-title {
  font-family: 'Lora', serif;
  color: #fffffd;
  text-align: center;
  font-size: 18px;
}
#features18-1y .card-title DIV {
  color: #fffffd;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#features18-1y .heading-title B {
  color: #fffffd;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
#features18-1y .heading-text B {
  color: #fffffd;
  font-family: 'Lora', serif;
  font-size: 20px;
}
#features18-1y .card-title B {
  color: #fffffd;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

#menu2-2i .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-2i .navbar-toggler {
  color: #fdfafa;
}
#menu2-2i .close-icon::before,
#menu2-2i .close-icon::after {
  background-color: #fdfafa;
}
#menu2-2i .link,
#menu2-2i .dropdown-item {
  color: #fdfafa;
  font-family: 'Roboto Slab', serif;
}
#menu2-2i .link {
  font-size: 1.05rem;
}
#menu2-2i .dropdown-item,
#menu2-2i .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu2-2i .link:hover,
#menu2-2i .link:focus {
  color: #dc4e24;
}
#menu2-2i .dropdown-item:hover::before,
#menu2-2i .dropdown-item:focus::before {
  background: #dc4e24;
}
#menu2-2i .dropdown-item:hover,
#menu2-2i .dropdown-item:focus {
  color: #fdfafa;
}
#menu2-2i .link[aria-expanded="true"],
#menu2-2i .dropdown-menu {
  background: #616161;
}
#menu2-2i .nav-dropdown-sm .link:focus,
#menu2-2i .nav-dropdown-sm .link:hover,
#menu2-2i .nav-dropdown-sm .dropdown-item:focus,
#menu2-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #595959!important;
}
#menu2-2i .navbar,
#menu2-2i .nav-dropdown-sm,
#menu2-2i .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-2i .nav-dropdown-sm .dropdown-menu {
  background: #616161;
}
#menu2-2i .bg-color.transparent .link {
  color: #fdfafa;
  transition: none;
}
#menu2-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-2i .bg-color.transparent.opened .link:hover,
#menu2-2i .bg-color.transparent.opened .link:focus {
  color: #dc4e24;
}
#menu2-2i .link[aria-expanded="true"],
#menu2-2i .dropdown-item[aria-expanded="true"] {
  color: #dc4e24!important;
}
#content3-2k .mbr-section-title,
#content3-2k .mbr-section-subtitle {
  text-align: center;
}
#content3-2k P {
  text-align: right;
}
#content7-2l .mbr-section-title,
#content7-2l .mbr-section-subtitle {
  margin-bottom: 1rem;
  color: #fff;
}
#content7-2l .mbr-table-cell {
  vertical-align: middle;
}
